/.vs
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/bin
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj/Debug
/demo_3ddatascheck_vuetsaspnetcore10.client/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server.Tests/bin
/Demo_3dDatasCheck_VueTsAspNetCore10.Server.Tests/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj
/Demo_3dDatasCheck_VueTsAspNetCore10.Server/obj/Debug
